.block_course_contents .section-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.block_course_contents .section-item {
    margin-bottom: 6px;
}

.block_course_contents .section-item.current {
    font-weight: bold;
}

.block_course_contents .section-number {
    padding: 2px 4px;
    font-size: 80%;
    font-weight: bold;
    color: white;
    background-color: #ccc;
    border-radius: 3px 3px 3px 3px;
    text-decoration: none;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.block_course_contents .section-item.current .section-number {
    background-color: #0070a8;
}

.block_course_contents a.dimmed:link,
.block_course_contents a.dimmed:visited {
    color: #aaa;
}
